<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets output='bundles/fitfixfrontend/css/all.css' debug=false filter='cssrewrite'
      'bundles/fitfixfrontend/css/all.css'
    %} 
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    <title>fitfix</title>
</head>
<body class="page-g">
	<div id="header_bg">
          <div id="header">
              <div class="container">
                <div id="nav">
                  <ul>
                     <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact Us</a></li> 
                  </ul>
                </div>
                <div id="logo"><a href="index.html"><img src="{{ asset('bundles/fitfixfrontend/images/logo.gif') }}" width="150" height="49"  alt="" /></a></div>
                <div id="top_button">
                  <a href="free_trial.html"><img src="{{ asset('bundles/fitfixfrontend/images/trial.gif') }}"  alt="" /></a>
                  <a href="signin.html"><img src="{{ asset('bundles/fitfixfrontend/images/signin.gif') }}"  alt="" /></a>
                </div>
              </div>
          </div>
    </div>
    <div class="title-area">
    	<div class="container"><h1 class="heading2">WELCOME to fitfix</h1></div>
    </div>
    <div class="main">
       <div class="features">
       		<div class="container">
            	<strong class="title">Thanks for signing up, enjoy your free trial!</strong>
                <img src="{{ asset('bundles/fitfixfrontend/images/img5.png') }}" width="366" height="246" alt="" />
                <p>We're excited you've chosen to give Fitfix a trial run, we're sure you'll love using it! You should have been emailed a <br /> username and password by the Fitfix minions, but if you haven't then please contact us here.</p>
                <p><strong>Although you can use Fitfix on the web, you won't get the most out of it until you download it onto your tablet - please use the links below to download our app for both iOS and Android. </strong></p>
            </div>
            <div class="threecolumn-frame">
            <div class="threecolumn">
            	<div class="column">
                	<img src="{{ asset('bundles/fitfixfrontend/images/img2.png') }}" width="92" height="47" alt="" />
                    <h2><a href="#">Download App</a></h2> 
                </div>
                <div class="column">
                	<img src="{{ asset('bundles/fitfixfrontend/images/img3.png') }}" width="33" height="38" alt="" />
                    <h2><a href="#">STARTUP GUIDES</a></h2> 
                </div>
                <div class="column add">
                	<img src="{{ asset('bundles/fitfixfrontend/images/img4.png') }}" width="33" height="38" alt="" />
                    <h2><a href="#">SUPPORT</a></h2> 
                </div>
            </div>
         </div>
         <div class="container">
         	<p>You can cancel your trial at any time by logging in and going to your 'Settings', otherwise your subscription of <span class="highlight">&pound;19.99</span> for <span class="highlight">1 month</span> will be activated after 14 days. Thanks for trying us out! </p>
            <p><span class="team">team fitfix</span></p> 
            </div>
        </div>
         <div class="tweet-frame">
            <div class="tweet-holder">
            	<div class="container">
                    <div class="tweet-box first">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                    <div class="tweet-box">
                    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                    </div>
                    <div class="tweet-box">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                    <div class="tweet-box">
                    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    	<div class="container">
        	<div class="column">
            	<ul>
                	<li><a href="#">Features </a></li>
                    <li><a href="#">Pricing </a></li>
                    <li><a href="#">Social Media </a></li>
                    <li><a href="#">The Team </a></li>
                </ul>
            </div>
            <div class="column">
            	<ul>
                	<li><a href="#">Download Apps </a></li>
                    <li><a href="#">Terms and Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support </a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="column">
            	<p>Contacts:</p>
                <p>Phone - +44 207 097 1488</p>
                <p>Mail - <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#116;&#102;&#105;&#120;&#046;&#099;&#111;&#046;&#117;&#107;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#116;&#102;&#105;&#120;&#046;&#099;&#111;&#046;&#117;&#107;</a></p>
            </div>
            <div class="column add">
            	<p>Follow Us:</p>
                <ul class="social">
                	<li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico6.png') }}" width="31" height="31" alt="" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico5.png') }}" width="31" height="31" alt="" /></a></li>
                    <li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico4.png') }}	" width="31" height="31" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    	<div class="container">
            <p><a href="#">FitFix</a> Ltd |  Registered Company in England And Wales | <a href="#">info@fitfix.co.uk</a> | Company number 08062617. </p>
            <p>All images above our copyright of <a href="#">FitFix Ltd</a>. and may not be copied or reproduced without the express permission of the copyright holder in writing.</p>
        </div>
    </div>
</body>
</html>
