* { margin:0; padding:0; }

body{width:100%;min-width:960px;font-size:14px;font-family: Arial, Verdana, Calibri, sans-serif;color: #2c2b2b;text-align:center;background: url(../images/bg.gif) repeat 0 0px;}

img, div           { border:0; padding:0;margin:0;}

a             {
    color:#626262;
    text-decoration:none;outline:0;
}
a:hover       {
    color:#6e3389;
    text-decoration:none;
}

/* Headings */
h1,h2,h3,h4,h5,h6{margin:0px;font-weight:normal;font-family:Arial}


p         {margin:0 0 25px 0;font-weight:normal;font-size:14px;color:#5e6466; }
.read_more{font-size:12px;font-weight:bold;text-transform:uppercase;}
ul, li    {margin:0;padding:0 }
small     {font-size:12px;color:#424748;}

.wrapper {width:960px;text-align:left;margin:0 auto;}
.end_div{width:100%;clear:both;}
.left_part{float:left;}
.right_part{float:right;}

/*--------------------------header-----------------------------*/

#header_bg, #header, #content_home, #content, .title, #footer{width:100%;}
#header_bg{background: url(../images/bg_top.png) repeat-x center 0;position:relative;z-index:200;}
#header{height:115px;position:relative;z-index:200;background: url(../images/bg_header2.png) no-repeat center bottom;}
#header .wrapper{position:relative;z-index:200}

#header_bg.size_sign_in{background: url(../images/bg_top.png) repeat-x center bottom;position:relative;z-index:200;height:30px}
#header.header_sign_in{height:60px}
#header.header_sign_in .wrapper{text-align:center;}
#header.header_sign_in .wrapper img{margin-top:20px;}


/*--------------------------header-----------------------------*/

#nav{float:left;margin-top:30px;}
#nav ul{ margin:0px 0 0 0;padding:0px 0 0 0;float:none;clear:both;width:auto;}
#nav li {font-size:14px;float: left;list-style: none;margin-right:12px;color:#000000;}
#nav li a {text-decoration:none;color:#2b2c2c;}
#nav li a:hover {text-decoration:none;color:#000000;}

#logo{position:absolute;top:15px;left:50%;margin-left:-75px;}

#top_button{float:right;overflow:hidden;margin-top:19px;}
#top_button img {float:left;margin-left:9px;}

/*---------------------------index-----------------------------------*/
#content_home{overflow:hidden;}
#content_home h3{clear:both;overflow:hidden;margin-top:65px;margin-bottom:40px;color:#3f3f3f;font-size:28px;position:relative;line-height:1.4;}

.bg_flexslider_top{background: url(../images/bg_topslider.png) no-repeat center top;height:525px;margin-top:-45px;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

.bg_flexslider_content{background: url(../images/bg_contentslider.gif) repeat-x center 17px;overflow:hidden;margin-top:45px;height:416px;}

#services{width:100%;overflow:hidden;margin-top:45px;}
#services .wrapper{text-align:center;}
#services ul{width:100%;overflow:hidden;text-align:center;}
#services li{list-style:none;width:25%;float:left;}
#services li:first-child{margin-left:0px;}
#services li span{display:block;font-size:18px;margin-top:20px;}
#services li a {color:#000000;}
#services li a:hover {color:#2b2c2c;}


#tab_wrapper {
    width:960px;
    margin:0 auto;
    clear:both;
    position:relative;
}
.bg-tab-content{
    width:638px;
    margin:0px;
    padding:0;
    position:absolute;
    left:-45px;
    top:0px;
    z-index:2;
    overflow:hiden;
    }

ul.tabs {
    width:auto;
    margin:0px;
    padding:0;
    position:absolute;
    left:542px;
    top:22px;
    z-index:20;
}
ul.tabs li {
    list-style:none;
    display:block;
    float:left;
    text-align:center;
    overflow:hidden;
    border-left:1px solid #ceaa1b;
    
}

ul.tabs li:first-child{border-left:none;}

ul.tabs li img{margin-top:13px;}

ul.tabs li a {
    display:block;
    float:left;
    padding:0;
    width:97px;
    height:90px;
    position:relative;
}

ul.tabs li a:hover {
    display:block;
    float:left;
    padding:0;
    width:97px;
    height:90px;
    position:relative;
    background:  url(../images/bg_tab.gif) no-repeat left top;
}
ul.tabs li:first-child a:hover {
    display:block;
    float:left;
    padding:0;
    width:97px;
    height:90px;
    position:relative;
    background:  url(../images/bg_tab_first.gif) no-repeat left top;
}

ul.tabs li.tabs-selected a {
    position:relative;
    background:#7c3da6;
}


ul.tabs li.tabs-selected:first-child a {
    position:relative;
    background: #7c3da6 url(../images/bg_lifirst.png) no-repeat left top;
}

#tab_wrapper .tab-content {
    position:relative;
    z-index:10;
    padding-top:150px;
    overflow:hidden;
}

#testimonials{width:100%;overflow:hidden;margin-top:35px;margin-bottom:10px;background: url(../images/bg_testimonials.gif) repeat-x left top;}
#testimonials .wrapper{text-align:center;}
#testimonials h3{margin-top:110px !important;}
#testimonials h4{text-align:left;color:#3f3f3f;font-size:24px;margin-top:35px;position:relative;}
#testimonials ul{width:100%;overflow:hidden;text-align:left;margin-top:15px;}
#testimonials li{list-style:none;width:26%;float:left;margin-left:30px;background: url(../images/sp_testimonials.gif) no-repeat left top;padding-left:45px;}
#testimonials li:first-child{margin-left:0px;}
#testimonials li span{display:block;margin-top:20px;}

/*---------------------------main-----------------------------------*/
.bg_contact_top{background: url(../images/contact/bg_contact_top.png) no-repeat center bottom;height:264px !important;width:100%;position:absolute;top:160px;z-index:1;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

.bg_sign_up_top{background: url(../images/sign_up/bg_sign_up_top.gif) no-repeat center bottom;height:611px !important;width:100%;position:absolute;top:45px;z-index:2;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

.bg_sign_in_top{background: url(../images/sign_in/bg_sign_up_top.gif) no-repeat center bottom;height:100% !important;width:100%;position:absolute;top:0px;z-index:2;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

.bg_team_top, .bg_features_top{background: url(../images/team/bg_team_top.png) no-repeat center bottom;height:243px !important;width:100%;position:absolute;top:311px;z-index:1;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

.bg_pricing_top{background: url(../images/team/bg_team_top.png) no-repeat center 0px;height:243px !important;width:100%;position:relative;top:0px;z-index:1;margin-top:60px;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }


.bg_features_top{top:143px;}

.bg_pt_directory_top{background: url(../images/pt_directory/bg_pt_directory_top.gif) no-repeat center 0px;height:719px;width:100%;
          background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          -khtml-background-size:100% 100%;
        }

#content{overflow:hidden;top:-45px;margin-bottom:-45px;position:relative;z-index:2}
#content h2{overflow:hidden;color:#3f3f3f;font-size:28px;line-height:1.4;}

.title{background: url(../images/bg_title.gif) repeat-x left top;height:91px;overflow:hidden;position:relative;z-index:1;}
.title h1{overflow:hidden;color:#ffffff;font-size:46px;line-height:1.8;}

/*----------------------------contact----------------------------------*/

#contact_page{width:960px;margin:0 auto 30px auto;background: url(../images/contact/bg_contact_page2.png) no-repeat 0px top;overflow:visible;padding-left:80px;text-align:left;}
.support{width:auto; overflow:hidden;padding-top:87px;}
.support li{list-style:none;font-size:28px;clear:both;overflow:hidden;margin-bottom:17px;}
.support li img{float:left;margin-right:10px;}
.support li span{float:left;margin-top:-3px;}

.send_form{width:92.5%;overflow:hidden;position:relative;background:#ffffff;border:3px solid #efefef;padding:43px 33px 24px 33px;margin-left:-40px;margin-top:105px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius:3px;
}
.send_form div {float:left;margin-top:40px;}
.send_form input{display:block;background:#eeeeee;border:1px solid #eeeeee;position:relative;width:310px;padding:0 15px;font-size:18px;color:#9a9a9a;height:40px;line-height:40px;
     margin-bottom:20px;
     margin-right:22px;
     font-family:Helvetica !important;
     border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius:3px;
}
.send_form textarea{display:block;background:#eeeeee;border:1px solid #eeeeee;position:relative;width:480px;padding:10px 15px 0  15px;font-size:18px;color:#9a9a9a;height:92px;line-height:20px;
     margin-bottom:20px;
     font-family:Helvetica !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius:3px;
    overflow:hidden;
}
.send_form .send_message{cursor:pointer;width:152px;height:43px;background: url(../images/contact/send.gif) no-repeat left top;padding:0;border:none;float:right;margin-right:0;*margin-right:-22px;}

/*----------------------------faq----------------------------------*/
#faq_page {width:100%;overflow:hidden;padding-top:45px;margin-bottom:30px;}
#faq_page h2{color:#2ba5da;line-height:2.5;}
#faq_page p{font-size:16px;}


.quote_wrapper{width:967px;margin:0 auto;position:relative;}
.faq_quote{width:967px;margin:0 auto;position:relative;background: url(../images/faq/bg_top.png) no-repeat left top;}
.faq_quote_bot{width:967px;position:absolute;bottom:0px;left:0;height:75px;z-index:10;background: url(../images/faq/bg_bot.png) no-repeat 4px bottom;}
.faq_quote_bot.quoteteam{height:55px;}
.bg_img{position:absolute;bottom:-16px;right:-10px;z-index:11;}
.faq_quote p{padding:30px 230px 20px 60px !important;margin:0 !important;position:relative;z-index:12;font-size:18px !important;font-style:italic;text-align:left;color:#656565;background: url(../images/faq/quote.gif) no-repeat 23px 22px;}
.faq_quote h2{padding:30px 30px 20px 60px !important;margin:0 !important;position:relative;z-index:12;font-size:48px !important;color:#7c3d97 !important;}
.faq_quote h2 span{font-size:18px;display:block;color:#656565;}


.faq{width:421px;float:left;margin-left:115px;margin-top:30px;}
.faq:first-child{margin-left:0px;}

.next_page{width:100%;display:inline-block;overflow:hidden;margin-top:30px;}


#privacy_page {width:100%;overflow:hidden;padding-top:45px;margin-bottom:30px;}
#privacy_page h2{color:#2ba5da;line-height:2.5;}
#privacy_page a {color:#884ba1;}
#privacy_page a:hover {color:#c391d8;}
#privacy_page p small{width:100%;border-top:1px solid #2ba5da;border-bottom:1px solid #2ba5da;padding:10px 0 15px 0;overflow:hidden;display:inline-block;}
.privacy{width:100%;margin-bottom:25px;}
.privacy li{line-height:1.4;margin-bottom:25px;color:#717070;margin-left:20px;}
.privacy li span{color:#363636;}
/*----------------------------pt_directory----------------------------------*/

#pt_page{width:100%;overflow:hidden;padding-top:45px;}

.pt_box{width:678px;height:126px;margin:0;background: url(../images/pt_directory/bg_box.png) no-repeat left top;}
.pt_box h2{font-size:30px;color:#1f9bd6;}
.pt_box h4{font-size:16px;color:#8c8c8c;}
.pt_box h4 span{color:#7c3d97;}
.pt_box p{font-size:12px;color:#8c8c8c;margin-bottom:10px;}
.pt_box p span{color:#7c3d97;}
.pt_box a {color:#7c3d97;}
.pt_box a:hover {color:#6e3389;}
.pt_box .rating{margin:5px 0 5px 0;}
.pt_box dl{width:100%;overflow:hidden;clear:both;display:inline-block;margin-top:13px;margin-left:24px;}
.pt_box dl dt{float:left;}
.pt_box dl dt img{width:83px;height:82px;margin-top:10px;}
.pt_box dl dd{float:left;background: url(../images/pt_directory/sp_dd.gif) no-repeat right top;margin-left:19px;padding:5px 0px 20px 0;}
.pt_box dl dd.first{width:170px;}
.pt_box dl dd.second{width:250px;}
.pt_box dl dd.last{background:none;padding-right:0px !important;}
.pt_box dl dd.last img{margin-top:20px;}
.pt_box dl dd:first-child{margin-left:13px;}

#scrollbar1 { width: 700px; margin: 0px;float:left;}
#scrollbar1 .viewport { width: 678px; height: 506px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent  url(../images/scrollbar/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 13px;}
#scrollbar1 .track { background: transparent url(../images/scrollbar/bg-scrollbar-trackend-y.gif) no-repeat 0 100%; height: 100%; width:13px; position: relative; }
#scrollbar1 .thumb { background: transparent url(../images/scrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 17px; cursor: pointer; overflow: hidden; position: absolute; top: 0px; left: -2px; }
#scrollbar1 .thumb .end { background: transparent url(../images/scrollbar/bg-scrollbar-thumb-y-end.png) no-repeat 50% -1px; overflow: hidden; height: 20px; width: 17px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#searchbox{width:247px;height:526px;background: url(../images/pt_directory/bg_searchbox.png) no-repeat left top;float:right;position:relative;z-index:100;}
#searchbox h5{font-size:18px;color:#ffffff;text-shadow:1px 1px 1px #5d2e71;margin-bottom:5px;}
#searchbox dl{width:auto;overflow:hidden;margin:22px 0 0 23px;;}
#searchbox dd{clear:both;width:auto;overflow:hidden;margin-bottom:15px;}

#scrollbar2 { width: 187px; margin: 0px;padding:5px 6px 5px 4px;background:#ffffff;border:1px solid #6a2f84;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius:3px;
}
#scrollbar2 .viewport { width: 170px; height: 147px; overflow: hidden; position: relative;}
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar2 .scrollbar{ background: transparent  url(../images/scrollbar/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 13px;}
#scrollbar2 .track { background: transparent url(../images/scrollbar/bg-scrollbar-trackend-y.gif) no-repeat 0 100%; height: 100%; width:13px; position: relative; }
#scrollbar2 .thumb { background: transparent url(../images/scrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 17px; cursor: pointer; overflow: hidden; position: absolute; top: 0px; left: -2px; }
#scrollbar2 .thumb .end { background: transparent url(../images/scrollbar/bg-scrollbar-thumb-y-end.png) no-repeat 50% -1px; overflow: hidden; height: 20px; width: 17px; }
#scrollbar2 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/*----------------------------team----------------------------------*/
#team_page{width:100%;overflow:hidden;padding-top:228px;margin-bottom:30px;}
#team_page h2{font-size:46px;color:#3f3f3f;line-height:1.2;}
#team_page h2 span{font-size:18px;color:#a8a8a8;display:block;}

#tab_wrapper_team {
    width:960px;
    margin:0px auto 0 auto;
    clear:both;
    display:inline-block;
    position:relative;
    z-index:3;
    
}


ul.tabs_team {
    width:auto;
    margin:0px;
    padding:0;
}
ul.tabs_team li .hl{width:236px;height:227px;display:none;position:absolute;top:0;left:0}
ul.tabs_team li .hl_active{width:236px;height:351px;display:none;position:absolute;top:-33px;left:0}

ul.tabs_team li {
    list-style:none;
    display:block;
    float:left;
    text-align:center;
    border-right:3px solid #ececec;
    position:relative;
}


ul.tabs_team li a {
    display:block;
    float:left;
    padding:0;
    width:236px;
    height:227px;
    position:relative;
    z-index:1000;
}

ul.tabs_team li a:hover .hl{display:block;}
ul.tabs_team li.tabs-selected a:hover .hl{display:none;}
ul.tabs_team li.tabs-selected a .hl_active {display:block}

#tab_wrapper_team .tab-content {
    clear:both;
    position:relative;
    z-index:20;
    padding-top:0px;
    width:100%;
}
#tab_wrapper_team .tab-content .quote_wrapper{position:absolute;top:-480px;left:0;z-index:100;}
#tab_wrapper_team .tab-content dl{width:100%;}
#tab_wrapper_team .tab-content dd{float:left;width:720px;text-align:left}
#tab_wrapper_team .tab-content dd.title_team{width:220px;margin-right:20px;margin-top:-6px;}
#tab_wrapper_team .tab-content dd p{font-style:italic;color:#656565;line-height:1.5;}
#tab_wrapper_team .tab-content dd p span{color:#6e3389;}


/*----------------------------Pricing----------------------------------*/
#pricing_page{width:100%;overflow:hidden;padding-top:50px;margin-bottom:30px;}
#pricing_page_intro{text-align:center;color: #656565;font-size: 18px;line-height: 1.4;width:800px;}
.start_free_trial h2{clear:both;margin-bottom:30px;}
.start_free_trial{margin-bottom: -0.8em;width: 960px; min-height: 207px;background:url(../images/pricing/free_trial.png) no-repeat;margin-left:auto;margin-right:auto;text-align:left;}
.start_free_trial div.subtotal{padding: 49px 0 0 50px;font-size:46px;color:#6e3389;}
.start_free_trial div.subtotal span.free_trial_small{font-size:24px;}
.rolling_payment {color: #656565;font-size: 18px;line-height: 1.4;padding: 5px 0 0 50px;}
.pricing_list{width:auto;margin-left:20px;margin-top:0px;}
.pricing_list li{font-size:18px;color:#656565;line-height:1.4;}
.paypal{width:100%;position:relative;clear:both;margin-top:0px;margin-bottom:30px;z-index:30;}




#tab_wrapper_pricing {
    width:960px;
    margin:0px auto -310px auto;
    clear:both;
    position:relative;
    top:-265px;
    padding-bottom:0px;
    overflow:hidden;
    z-index:3;
}

ul.tabs_pricing {
    width:auto;
    margin:0px;
    padding:0;
}
ul.tabs_pricing li .active{display:none;margin-top:26px;}
ul.tabs_pricing li .run{display:block;margin-top:77px;}
ul.tabs_pricing li .percent{position:absolute;z-index:1;right:7px;top:0}

ul.tabs_pricing li {
    list-style:none;
    display:block;
    float:left;
    overflow:hidden;
    position:relative;
    padding-left:2px;
    background: url(../images/pricing/sp_li.gif) no-repeat left 30px;
    
}

ul.tabs_pricing li:first-child{background:none;padding-left:0px;}


ul.tabs_pricing li a {
    display:block;
    float:left;
    padding:0;
    width:318px;
    height:374px;
    position:relative;
    overflow:hidden;
    text-align:center;
    background: url(../images/pricing/bg_li.png) repeat-x left top;
}
ul.tabs_pricing li a img{margin:0 auto;}

ul.tabs_pricing li a:hover{background: url(../images/pricing/bg_li_hl.png) repeat-x left top;}

ul.tabs_pricing li.tabs-selected a {background: url(../images/pricing/bg_li_act.png) repeat-x left top;}

ul.tabs_pricing li.tabs-selected a .active {display:block}
ul.tabs_pricing li.tabs-selected a .run {display:none}
ul.tabs_pricing li.tabs-selected .percent{top:-22px;right:10px;}

#tab_wrapper_pricing .tab-content {
    clear:both;
    display:block;
    position:absolute;
    top:0px;
    left:0;
    padding-top:215px;
    text-align:center;
    z-index:20;
    width:316px;
    height:159px;
}
#tab_wrapper_pricing .tab-content.first {left:0px;}
#tab_wrapper_pricing .tab-content.second {left:320px}
#tab_wrapper_pricing .tab-content.third {left:640px}



/*----------------------------features----------------------------------*/
#features_page{width:100%;overflow:hidden;padding-top:30px;margin-bottom:30px;}

#tab_wrapper_features {
    width:960px;
    margin:0px auto 0 auto;
    clear:both;
    position:relative;
    top:0px;
    padding-bottom:0px;
    overflow:hidden;
    z-index:3;
}


ul.tabs_features {
    width:auto;
    margin:0px;
    padding:0;
}
ul.tabs_features li .active{display:none;margin-top:52px;}
ul.tabs_features li .run{display:block;margin-top:65px;}

ul.tabs_features li {
    list-style:none;
    display:block;
    float:left;
    overflow:hidden;
    position:relative;
    padding-left:2px;
    background: url(../images/pricing/sp_li.gif) no-repeat left 30px;
    
}

ul.tabs_features li:first-child{background:none;padding-left:0px;}


ul.tabs_features li a {
    display:block;
    float:left;
    padding:0;
    width:238px;
    height:374px;
    position:relative;
    overflow:hidden;
    text-align:center;
    background: url(../images/pricing/bg_li.png) repeat-x left top;
}
ul.tabs_features li a img{margin:0 auto;}

ul.tabs_features li a:hover{background: url(../images/pricing/bg_li_hl.png) repeat-x left top;}

ul.tabs_features li.tabs-selected a {background: url(../images/pricing/bg_li_act238.png) repeat-x left top;}

ul.tabs_features li.tabs-selected a .active {display:block}
ul.tabs_features li.tabs-selected a .run {display:none}

#tab_wrapper_features .tab-content {
    clear:both;
    display:block;
    position:relative;;
    text-align:left;
    z-index:20;
    width:960px;
}
#tab_wrapper_features .tab-content dl{width:960px;clear:both;overflow:hidden;padding-bottom:50px;}
#tab_wrapper_features .tab-content dd.firstcol{float:left;width:45%;}
#tab_wrapper_features .tab-content dd{float:left;width:55%;}
#tab_wrapper_features .tab-content dd img{width:350px;}
#tab_wrapper_features .tab-content h3{font-size:30px;color:#2ba5da;padding-right:50px;margin-bottom:25px;}
#tab_wrapper_features .tab-content p{padding-right:40px;line-height:1.4;font-size:16px;}

/*----------------------------------------------------------------*/
.content_sign_up{background:#efefef;z-index:1;position:relative;}
#sign_up{width:485px;min-height:774px;clear:both;overflow:hidden;margin:60px auto 0 auto;background: url(../images/sign_up/bg_form_sign_up.png) no-repeat left 0px;}
#sign_up dl{width:310px;overflow:hidden;clear:both;display:inline-block;margin:35px auto 0 auto;}
#sign_up dl dd{clear:both;padding-bottom:10px;text-align:left}
#sign_up a {color:#ffffff;text-decoration:underline}
#sign_up a:hover {color:#ede9e9;text-decoration:underline}
.terms_conditions{clear:both;margin:5px 0 10px 0;font-size: 14px;line-height:25px;color:#ffffff;}
.terms_conditions .checkbox_inp{margin-top:6px;}
.terms_conditions .checkbox_lb{width:1px !important;height:10px !important;text-align:left;}



.content_sign_in{background:#efefef;z-index:1;position:relative;margin-top:-45px;height:100%;}
#sign_in{width:486px;height:397px;clear:both;margin:235px auto 0 auto;background: url(../images/sign_in/bg_form_sign_in.png) no-repeat left 0px;position:relative;}
.bg_sign_in{position:absolute;right:-140px;bottom:73px;}
#sign_in dl{width:310px;overflow:hidden;clear:both;display:inline-block;margin:35px auto 0 auto;}
#sign_in dl dd{clear:both;padding-bottom:15px;text-align:left}
#sign_in dl dd.linkline{margin-bottom:30px;}
#sign_in dl dd.linkline .firstlink{float:left}
#sign_in dl dd.linkline .secondlink{float:right}
#sign_in a {color:#ffffff;text-decoration:underline}
#sign_in a:hover {color:#c391d8;text-decoration:underline}
.footer_sign_in{position:absolute;bottom:25px;left:50%;width:104px;margin-left:-52px;color:#9b9b9b;}
.footer_sign_in img{display:block;margin-top:0}

.partners{width:958px;height:83px;overflow:hidden;margin-bottom:25px;border:1px solid #e5e5e5;}

/*----------------------------tweets----------------------------------*/
.tweets_wrap{background: #884ba1 url(../images/tweets.jpg) 50% -4px no-repeat;min-height: 238px;}
.tweets {padding: 90px 0 2em;width: 960px;margin:0 auto;}	
.tweet {float: left;width: 18.2%;margin-right: 9%;background: url(../images/tweet.png) no-repeat;padding-top: 40px;color: #eeeeee;text-align: left;}
.tweets .tweet:last-child {margin-right: 0;}
.tweets .last_tweet {margin-right: 0;}

/*----------------------------footer----------------------------------*/
#footer{clear:both;overflow:hidden;position:relative;z-index:1;}
#bg_footer_top{width:100%;background: url(../images/bg_footer1.gif) repeat 0px top;overflow:hidden;}  
#footer_top{width:100%;min-width:960px;margin:0px auto;overflow:hidden;}
#footer_top.smile{background: url(../images/bg_footer2.gif) no-repeat center 0px;}
#footer_top.smilegr{background: url(../images/bg_footer3.gif) no-repeat center 0px;}
#footer_top.smile .twtr-bd, #footer_top.smilegr .twtr-bd{width:960px;margin:90px auto 40px auto;overflow:hidden;}
.twtr-hd{display:none;}
.twtr-ft{display:none;}
.twtr-bd{width:960px;margin:45px auto 40px auto;} 
.twtr-timeline{width:960px;}
.twtr-tweet{width:240px !important;margin-left:0px;text-align:left;float:left;border-bottom:none !important}
.twtr-tweet-wrap{width:180px !important;background: url(../images/sp_footer_top.png) no-repeat left top !important;padding-top:40px !important;}

#footer_middle{width:100%;overflow:hidden;padding-top:50px;padding-bottom:40px;}
#footer_middle ul{float:left;width:25%;}
#footer_middle li{list-style:none;text-align:left;color:#2b2c2c;line-height:1.4;}
#footer_middle li.sel{color:#000000}
#footer_middle li a {color:#2b2c2c;}
#footer_middle li a:hover {color:#000000}
#footer_middle li.social a {float:left;margin-right:10px;margin-top:10px;}

#footer_bot{width:100%;overflow:hidden;padding-top:30px;padding-bottom:50px;background:#efefef;}
#footer_bot .wrapper{text-align:center;}
#footer_bot ul{width:auto;overflow:hidden;margin-bottom:20px;}
#footer_bot li{list-style:none;display:inline;color:#9b9b9b;}
#footer_bot p{color:#9b9b9b;}
#footer_bot a {color:#9b9b9b;}
#footer_bot a:hover {color:#686767;}






























































