{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Client edit</h1>

<form action="{{ path('admin_client_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_row(edit_form.user) }}
    {{ form_row(edit_form.firstName) }}
    {{ form_row(edit_form.lastName) }}
    {{ form_row(edit_form.gender) }}
    {{ form_row(edit_form.mobile) }}
    {{ form_row(edit_form.dob) }}
    {{ form_row(edit_form.trainer) }}

    <h2>{{ form_label(edit_form.reviews) }}</h2>
    {{ form_errors(edit_form.reviews) }}
    <ul id="review-fields-list" data-prototype="{{ form_widget(edit_form.reviews.vars.prototype) | e }}">
    {% for reviewField in edit_form.reviews %}
        <li>
            {{ form_errors(reviewField) }}
            {{ form_widget(reviewField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-review">Add a review</a>

    <h2>{{ form_label(edit_form.goals) }}</h2>
    {{ form_errors(edit_form.goals) }}
    <ul id="goal-fields-list" data-prototype="{{ form_widget(edit_form.goals.vars.prototype) | e }}">
    {% for goalField in edit_form.goals %}
        <li>
            {{ form_errors(goalField) }}
            {{ form_widget(goalField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-goal">Add a goal</a>

    <h2>{{ form_label(edit_form.objectives) }}</h2>
    {{ form_errors(edit_form.objectives) }}
    <ul id="objective-fields-list" data-prototype="{{ form_widget(edit_form.objectives.vars.prototype) | e }}">
    {% for objectiveField in edit_form.objectives %}
        <li>
            {{ form_errors(objectiveField) }}
            {{ form_widget(objectiveField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-objective">Add an objective</a>

    <h2>{{ form_label(edit_form.mealplans) }}</h2>
    {{ form_errors(edit_form.mealplans) }}
    <ul id="meal-fields-list" data-prototype="{{ form_widget(edit_form.mealplans.vars.prototype) | e }}">
    {% for mealField in edit_form.mealplans %}
        <li>
            {{ form_errors(mealField) }}
            {{ form_widget(mealField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-meal">Add a meal</a>

    <h2>{{ form_label(edit_form.notes) }}</h2>
    {{ form_errors(edit_form.notes) }}
    <ul id="note-fields-list" data-prototype="{{ form_widget(edit_form.notes.vars.prototype) | e }}">
    {% for noteField in edit_form.notes %}
        <li>
            {{ form_errors(noteField) }}
            {{ form_widget(noteField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-note">Add a note</a>

    <h2>{{ form_label(edit_form.workouts) }}</h2>
    {{ form_errors(edit_form.workouts) }}
    <ul id="workout-fields-list" data-prototype="{{ form_widget(edit_form.workouts.vars.prototype) | e }}">
    {% for workoutField in edit_form.workouts %}
        <li>
            {{ form_errors(workoutField) }}
            {{ form_widget(workoutField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-workout">Add a workout</a>

    {{ form_rest(edit_form) }}

    <p>
        <button type="submit">Save</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_client') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_client_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var reviewCount = '{{ edit_form.reviews | length }}';
        var goalCount = '{{ edit_form.goals | length }}';
        var objectiveCount = '{{ edit_form.objectives | length }}';
        var mealCount = '{{ edit_form.mealplans | length }}';
        var noteCount = '{{ edit_form.notes | length }}';
        var workoutCount = '{{ edit_form.workouts | length }}';

        $(document).ready(function() {
            $('#add-another-review').click(function() {
                var reviewList = jQuery('#review-fields-list');

                var newWidget = reviewList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, reviewCount);
                reviewCount++;

                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(jQuery('#review-fields-list'));

                return false;
            });
            $('#add-another-goal').click(function() {
                var goalList = jQuery('#goal-fields-list');

                var newWidget = goalList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, goalCount);
                goalCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#goal-fields-list'));

                return false;
            });
            $('#add-another-meal').click(function() {
                var mealList = jQuery('#meal-fields-list');

                var newWidget = mealList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, mealCount);
                mealCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#meal-fields-list'));

                return false;
            });
            $('#add-another-note').click(function() {
                var noteList = jQuery('#note-fields-list');

                var newWidget = noteList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, noteCount);
                noteCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#note-fields-list'));

                return false;
            });
            $('#add-another-objective').click(function() {
                var objectiveList = jQuery('#objective-fields-list');

                var newWidget = objectiveList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, objectiveCount);
                objectiveCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#objective-fields-list'));

                return false;
            });
            $('#add-another-workout').click(function() {
                var workoutList = jQuery('#workout-fields-list');

                var newWidget = workoutList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, workoutCount);
                workoutCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#workout-fields-list'));

                return false;
            });
        })
    </script>

{% endblock %}
