{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Client list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Dob</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.gender }}</td>
            <td>{{ entity.mobile }}</td>
            <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.firstName }}</td>
            <td>{{ entity.lastName }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_client_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_client_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_client_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
