{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Client edit</h1>

<form action="{{ path('admin_client_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_row(form.user) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.mobile) }}
    {{ form_row(form.dob) }}
    {{ form_row(form.trainer) }}

    {{ form_label(form.reviews) }}
    {{ form_errors(form.reviews) }}
    <ul id="review-fields-list" data-prototype="{{ form_widget(form.reviews.vars.prototype) | e }}">
    {% for reviewField in form.reviews %}
        <li>
            {{ form_errors(reviewField) }}
            {{ form_widget(reviewField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-review">Add a review</a>

    {{ form_label(form.goals) }}
    {{ form_errors(form.goals) }}
    <ul id="goal-fields-list" data-prototype="{{ form_widget(form.goals.vars.prototype) | e }}">
    {% for goalField in form.goals %}
        <li>
            {{ form_errors(goalField) }}
            {{ form_widget(goalField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-goal">Add a goal</a>

    {{ form_label(form.mealplans) }}
    {{ form_errors(form.mealplans) }}
    <ul id="meal-fields-list" data-prototype="{{ form_widget(form.mealplans.vars.prototype) | e }}">
    {% for mealField in form.mealplans %}
        <li>
            {{ form_errors(mealField) }}
            {{ form_widget(mealField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-meal">Add a meal</a>

    {{ form_label(form.notes) }}
    {{ form_errors(form.notes) }}
    <ul id="note-fields-list" data-prototype="{{ form_widget(form.notes.vars.prototype) | e }}">
    {% for noteField in form.notes %}
        <li>
            {{ form_errors(noteField) }}
            {{ form_widget(noteField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-note">Add a note</a>

    {{ form_label(form.workouts) }}
    {{ form_errors(form.workouts) }}
    <ul id="workout-fields-list" data-prototype="{{ form_widget(form.workouts.vars.prototype) | e }}">
    {% for workoutField in form.workouts %}
        <li>
            {{ form_errors(workoutField) }}
            {{ form_widget(workoutField) }}
        </li>
    {% endfor %}
    </ul>
    <a href="#" id="add-another-workout">Add a workout</a>

    {{ form_rest(form) }}

    <p>
        <button type="submit">Save</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_client') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var reviewCount = '{{ form.reviews | length }}';
        var goalCount = '{{ form.goals | length }}';
        var mealCount = '{{ form.mealplans | length }}';
        var noteCount = '{{ form.notes | length }}';
        var workoutCount = '{{ form.workouts | length }}';

        $(document).ready(function() {
            $('#add-another-review').click(function() {
                var reviewList = jQuery('#review-fields-list');

                var newWidget = reviewList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, reviewCount);
                reviewCount++;

                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(jQuery('#review-fields-list'));

                return false;
            });
            $('#add-another-goal').click(function() {
                var goalList = jQuery('#goal-fields-list');

                var newWidget = goalList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, goalCount);
                goalCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#goal-fields-list'));

                return false;
            });
            $('#add-another-meal').click(function() {
                var mealList = jQuery('#meal-fields-list');

                var newWidget = mealList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, mealCount);
                mealCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#meal-fields-list'));

                return false;
            });
            $('#add-another-note').click(function() {
                var noteList = jQuery('#note-fields-list');

                var newWidget = noteList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, noteCount);
                noteCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#note-fields-list'));

                return false;
            });
            $('#add-another-objective').click(function() {
                var objectiveList = jQuery('#objective-fields-list');

                var newWidget = objectiveList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, objectiveCount);
                objectiveCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#objective-fields-list'));

                return false;
            });
            $('#add-another-workout').click(function() {
                var workoutList = jQuery('#workout-fields-list');

                var newWidget = workoutList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, workoutCount);
                workoutCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(jQuery('#workout-fields-list'));

                return false;
            });
        })
    </script>

{% endblock %}
