{% block user_block %}
    <ul class="l-alignleft l-inline-list">
        <li>
                <p>
                    {{ 'username' }} {# app.user.username #}
                </p>
        </li>
        <li><p>|</p></li>
        <li>
            <p>
                <a href="#">
                    {{"Log out"|trans }}
                </a>
            </p>
        </li>
    </ul>
{% endblock %}