{% extends 'FitFixFrontendBundle::layout.html.twig' %}

{% block body_css %} class="page-g add" {% endblock %}
{%block title_area %}
<div class="title-area">
    <div class="container"><h1 class="heading">FREE TRIAL REGISTRATION</h1></div>
</div>
{% endblock%}

{% block content %}
<div class="main">
    <div class="container">
    
    {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_errors(form.user) }}
            <fieldset>
                <div class="row">
                	{{ form_widget(form.user.email) }}
                </div>
                <div class="row">
                    {{ form_widget(form.user.plainPassword) }}
                </div>
                <div class="row">
                	{{ form_widget(form.firstName) }}
                </div>
                <div class="row">
                	{{ form_widget(form.lastName) }}
                </div>
                <div class="row ext">
                    <div class="cell">
                        <label>Gender</label>
                        <span class="gender_wrapper">
                            <font id="gen_text">Male</font>
                            {{ form_widget(form.gender) }}
                        </span>
                    </div>
                    <div class="cell add">
                        <label>Date of Birth</label>
                        {{ form_widget(form.birthday) }}
                    </div>
                </div>
                <div class="row ext2">
                    {{ form_widget(form.phone) }}
                </div>
                <div class="row" id="fitfix_frontendbundle_trainertype_locations">
                    <input type="hidden" value="Home" name="" class="text-2" />
                    <div class="cell-1">
                    	{{ form_widget(form.addressNumber) }}
                    </div>
                    <div class="cell-1 add">
                    	{{ form_widget(form.addressStreet) }}
                    </div>
                </div>
                <div class="row ext3">
                	{{ form_widget(form.addressTown) }}
                </div>
               <div class="row ext4">
                    <div class="cell-2">
                    	{{ form_widget(form.addressPostCode) }}
                    </div>
                    <div class="cell-2 add">
                        <span class="gender_wrapper">
                            <font id="country_text">Country</font>
                            {{ form_widget(form.addressCountry) }}
                         </span>
                    </div>
                </div>
                <input type="submit" value="Register Now" />
            </fieldset>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/jquery.min.js') }}"></script>
    <script type="text/javascript">
      function get_gender(){
	      	var gen = $('#fitfix_frontendbundle_trainertype_gender').val();
	      	$('#gen_text').html(gen);
      }
    function get_country(){
      var gen = $('#fitfix_frontendbundle_trainertype_addressCountry').val();
      $('#country_text').html(gen);
      }
    </script>
{% endblock %}
