<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style>
      .workout-entry {
        height: 88px;
        margin: 10px auto;
        background-color: #FFFFFF;
      }
      .full-border-radius {
        border-radius: 5px;
      }
      .box-sizing {
        box-sizing: border-box;
      }
      .blue {
        color: #1d8ccc;
      }
      .workout-entry-pic {
        width: 93px;
        height: 88px;
        margin: 0 10px 0 5px;
      }
      .f-l {
        float: left;
      }
      .workout-entry-details {
        width: 80%;
        margin: 7px 17px 0 0;
      }
      .workout-entry-sets {
        height: 68px;
        background-color: #eaeaea;
        border: 1px solid #CCCCCC;
        margin: 5px 0 0 0;
        padding: 5px 0 0 5px;
      }
      .workout-set-wrap {
        width: 80%;
        margin-right: 17px;
      }
      .workout-set {
        width: 30%;
      }
      .workout-set, .workout-set-l, .mealplan-set {
        height: 20px;
        margin: 5px;
        text-align: center;
        color: #FFFFFF;
      }
      .right-border-set {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        height: 20px;
        padding-top: 5px;
        font-size: 11px;
      }
      .left-border-set {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        height: 20px;
        padding-top: 5px;
        font-size: 11px;
      }
      .half {
        width: 50%;
      }
      .black-bg {
        background-color: #000000;
      }
      .blue-bg {
        background-color: #1d8ccc;
      }

    </style>
  </head>
  <body>
    <h1>{{ entity.name }}</h1>



    <div>
      <div class="list-header box-sizing full-width topm new-list-header">
        <h3>Warnup</h3>
      </div>

      {% for instructions in entity.warmup %}
      <div class="workout-entry box-sizing blue full-border-radius">
        <div class="workout-entry-pic f-l">
          <!--<img src="{{instructions.exercise.cdnHost}}{{ instructions.exercise.picturePath }}" width="100%" height="100%"/>-->
        </div>
        <div class="workout-entry-details f-l">
          <h3>{{instructions.exercise.name}}</h3>
          <div class="workout-entry-sets full-border-radius box-sizing">
            <div class="workout-set-wrap f-l">
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Reps</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{instructions.reps }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Sets</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.sets }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Tempo</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.tempo }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Weight</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.weight }}KG</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Rest</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.rest }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Technique</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.technique.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="list-header box-sizing full-width topm new-list-header">
        <h3>Workout</h3>
      </div>

      {% for instructions in entity.workout %}
      <div class="workout-entry box-sizing blue full-border-radius">
        <div class="workout-entry-pic f-l">
          <!--<img src="{{instructions.exercise.cdnHost}}{{ instructions.exercise.picturePath }}" width="100%" height="100%"/>-->
        </div>
        <div class="workout-entry-details f-l">
          <h3>{{instructions.exercise.name}}</h3>
          <div class="workout-entry-sets full-border-radius box-sizing">
            <div class="workout-set-wrap f-l">
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Reps</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{instructions.reps }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Sets</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.sets }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Tempo</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.tempo }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Weight</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.weight }}KG</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Rest</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.rest }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Technique</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.technique.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="list-header box-sizing full-width topm new-list-header">
        <h3>Warndown</h3>
      </div>

      {% for instructions in entity.warmdown %}
      <div class="workout-entry box-sizing blue full-border-radius">
        <div class="workout-entry-pic f-l">
          <!--<img src="{{instructions.exercise.cdnHost}}{{ instructions.exercise.picturePath }}" width="100%" height="100%"/>-->
        </div>
        <div class="workout-entry-details f-l">
          <h3>{{instructions.exercise.name}}</h3>
          <div class="workout-entry-sets full-border-radius box-sizing">
            <div class="workout-set-wrap f-l">
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Reps</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{instructions.reps }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Sets</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.sets }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Tempo</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.tempo }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Weight</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.weight }}KG</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Rest</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.rest }}</span>
              </div>
              <div class="workout-set f-l">
                <span class="blue-bg f-l half left-border-set box-sizing">Technique</span>
                <span class="black-bg f-l half right-border-set box-sizing">{{ instructions.technique.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
