{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Trainer list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Personaldetails</th>
            <th>Specialisms</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_trainer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstName }}</td>
            <td>{{ entity.lastName }}</td>
            <td>{{ entity.personalDetails }}</td>
            <td>{{ entity.specialisms }}</td>
            <td>{{ entity.bio }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_trainer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_trainer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_trainer_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
