{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Trainer creation</h1>

<form action="{{ path('admin_trainer_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_trainer') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}