{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Trainer</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Personaldetails</th>
            <td>{{ entity.personalDetails }}</td>
        </tr>
        <tr>
            <th>Specialisms</th>
            <td>{{ entity.specialisms }}</td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{ entity.bio }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_trainer') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_trainer_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_trainer_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
