{% extends '::frontend_base.html.twig' %}

{% block title %}FitFix{% endblock %}

{% block favicon %}
    {% image '@FitFixFrontendBundle/Resources/public/images/favicon.ico' %}
        <link rel="shortcut icon" href="{{ asset_url }}" />
    {% endimage %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output='bundles/fitfixfrontend/css/all.css' debug=false filter='cssrewrite'
      'bundles/fitfixfrontend/css/all.css'
    %} 
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="header_bg">
  <div id="header">
    <div class="container">
      <div id="nav">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact Us</a></li> 
        </ul>
      </div>
      <div id="logo"><a href="index.html"><img src="{{ asset('bundles/fitfixfrontend/images/logo.gif') }}" width="150" height="49"  alt="" /></a></div>
      <div id="top_button">
        <a href="/registration"><img src="{{ asset('bundles/fitfixfrontend/images/trial.gif') }}"  alt="" /></a>
        <a href="signin.html"><img src="{{ asset('bundles/fitfixfrontend/images/signin.gif') }}"  alt="" /></a>
      </div>
    </div>
  </div>
</div>

{%block title_area %}{% endblock%}

{% block content %}{% endblock %}

{% block footer %}
<div id="footer">
    <div class="container">
        <div class="column">
            <ul>
                <li><a href="#">Features </a></li>
                <li><a href="#">Pricing </a></li>
                <li><a href="#">Social Media </a></li>
                <li><a href="#">The Team </a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="#">Download Apps </a></li>
                <li><a href="#">Terms and Conditions </a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Support </a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="column">
            <p>Contacts:</p>
            <p>Phone - +44 207 097 1488</p>
            <p>Mail - <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#116;&#102;&#105;&#120;&#046;&#099;&#111;&#046;&#117;&#107;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#116;&#102;&#105;&#120;&#046;&#099;&#111;&#046;&#117;&#107;</a></p>
        </div>
        <div class="column">
            <p>Follow Us:</p>
            <ul class="social">
                <li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico6.png') }}" width="31" height="31" alt="" /></a></li>
                <li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico5.png') }}" width="31" height="31" alt="" /></a></li>
                <li><a href="#"><img src="{{ asset('bundles/fitfixfrontend/images/ico4.png') }}" width="31" height="31" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_bottom %}
<div class="footer-bottom">
    <div class="container">
        <p><a href="#">FitFix</a> Ltd |  Registered Company in England And Wales | <a href="#">info@fitfix.co.uk</a> | Company number 08062617. </p>
        <p>All images above our copyright of <a href="#">FitFix Ltd</a>. and may not be copied or reproduced without the express permission of the copyright holder in writing.</p>
    </div>
</div>
{% endblock %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/jquery.min.js') }}"></script>
{% endblock %}
