{% extends 'FitFixFrontendBundle::layout.html.twig' %}

{% block body_css %} class="page-g" {% endblock %}

{%block title_area %}
<div class="title-area">
    <div class="container"><h1 class="heading2">WELCOME to fitfix</h1></div>
</div>
{% endblock%}

{% block content %}
<div class="container">
    <strong class="title">Thanks for signing up, enjoy your free trial!</strong>
    <img src="{{ asset('bundles/fitfixfrontend/images/img5.png') }}" width="366" height="246" alt="" />
    <p>We're excited you've chosen to give Fitfix a trial run, we're sure you'll love using it! You should have been emailed a <br /> username and password by the Fitfix minions, but if you haven't then please contact us here.</p>
    <p><strong>Although you can use Fitfix on the web, you won't get the most out of it until you download it onto your tablet - please use the links below to download our app for both iOS and Android. </strong></p>
</div>
<div class="threecolumn-frame">
    <div class="threecolumn">
        <div class="column">
            <img src="{{ asset('bundles/fitfixfrontend/images/img2.png') }}" width="92" height="47" alt="" />
            <h2><a href="#">Download App</a></h2> 
        </div>
        <div class="column">
            <img src="{{ asset('bundles/fitfixfrontend/images/img3.png') }}" width="33" height="38" alt="" />
            <h2><a href="#">STARTUP GUIDES</a></h2> 
        </div>
        <div class="column add">
            <img src="{{ asset('bundles/fitfixfrontend/images/img4.png') }}" width="33" height="38" alt="" />
            <h2><a href="#">SUPPORT</a></h2> 
        </div>
    </div>
</div>
<div class="container">
    <p>You can cancel your trial at any time by logging in and going to your 'Settings', otherwise your subscription of <span class="highlight">&pound;19.99</span> for <span class="highlight">1 month</span> will be activated after 14 days. Thanks for trying us out! </p>
    <p><span class="team">team fitfix</span></p> 
    </div>
</div>
{% endblock %}
