<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<style type="text/css">
		html, body {
			margin: 0px;
		}
		
		hr {
			clear: both;
		}
		
		.align-right {
			text-align: right;
		}
	</style>	
</head>

<body>    
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FitFix Docs</a>
        </div>
        
        <div class="navbar-right">
        	<a class="navbar-brand" href="fitfix://">Back to FitFix &raquo;</a>
        </div>
        
      </div>
    </div>
    
    
    <div class="container">
    	
    	{% block body %}
    	
    	{% endblock %}
    
    </div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
</body>
</html>