{% extends "FitFixDocBundle::layout.html.twig" %}

{% block title %}FitFixDocBundle:Invoice:view{% endblock %}

{% block body %}

<div class="row">
	

	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		
		<p><img src="{{ image(invoice.from.logo).resize(200,200) }}" height="200" /></p>
		
		<p>{{ invoice.to.firstName }} {{ invoice.to.lastName }}</p>
		<p>{{ invoice.to.address|nl2br }}</p>
		
	</div>

	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 align-right">
		
		<h1>Invoice #{{ invoice.id }}</h1>
		<p>{{ invoice.from.firstName }} {{ invoice.from.lastName }}</p>
		
	</div>

	<div class="hr"><hr /></div>

</div>

<div class="row">

<table class="table">

	<thead>
		
		<tr>
			<th>Description</th>
			<th>Date</th>
			<th>Price</th>
		</tr>
		
	</thead>
	
	<tbody>
		
		<tr>
			
			<td>
				{{ invoice.description }}
			</td>
			<td>
				{{ invoice.createdAt|date('d-m-Y') }}
			</td>
			<td>
				{{ invoice.from.billingCurrency|split(':')|last }}{{ invoice.price }}
			</td>
			
		</tr>
		
	</tbody>
	
	<tfoot>
		
		<tr>
			<td class="align-right" colspan="2">Total</td>
			<td>{{ invoice.from.billingCurrency|split(':')|last }}{{ invoice.price }}</td>
		</tr>	
		
	</tfoot>

</table>

</div>

{% if paypalPaymentURL %}

<div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
		<a href="{{ paypalPaymentURL }}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"></a>
	
	</div>
	
</div>

{% endif %}

{% endblock %}
