{% extends 'FitFixAdminBundle::layout.html.twig' %}

{% block content %}

<h1>Session</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Starttime</th>
            <td>{{ entity.startTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Endtime</th>
            <td>{{ entity.endTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Requeststatus</th>
            <td>{{ entity.requestStatus }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_session') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_session_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_session_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
